.s_container {
  height: 100%;
}

.s_info {
  clear: both;
  min-height: 500px;
  height: 80%;
  border-bottom: 1px solid black;
  background: gray;
  padding: 1px;
  margin: 0px;
}

.s_detail {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 70%;
  padding: 2px;
}

.s_map {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  min-width: 250px;
  width: 30%;
  padding: 2px;
  margin: 0px;
}

.s_list {
  clear: both;
  min-height: 150px;
  height: 20%;
  max-height: 250px;
  width: 100%;
  overflow: scroll;
}
